path_prepend() {
  # Function to ensure unique entries in PATH
  case ":$PATH:" in
    *":$1:"*) ;;  # Skip if already in PATH
    *) PATH="$1:$PATH" ;;
  esac
}

# Common paths
path_prepend "/usr/local/bin"

{{ if eq .chezmoi.os "darwin" -}}

# macos specific paths
path_prepend "/opt/homebrew/bin"

{{- end }}

{{- if eq .chezmoi.os "linux" -}}

# linux specific paths
path_prepend $HOME/bin
path_prepend $HOME/.cargo/bin
path_prepend $HOME/.local/share/bob/nvim-bin
{{- end }}

